<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- 同步的Rest Template -->
	<bean id="restTemplate" class="com.bxtpw.common.rest.template.ExtendRestTemplate">
		<property name="httpMessageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>*/*;charset=UTF-8</value>
						</list>
					</property>
					<property name="objectMapper">
						<bean class="com.fasterxml.jackson.databind.ObjectMapper">
							<property name="dateFormat">
								<bean class="java.text.SimpleDateFormat">
									<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
								</bean>
							</property>
						</bean>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 异步的Rest Template -->
	<bean id="asyncRestTemplate" class="org.springframework.web.client.AsyncRestTemplate">
		<constructor-arg name="requestFactory">
			<bean class="org.springframework.http.client.SimpleClientHttpRequestFactory">
				<property name="taskExecutor">
					<bean class="org.springframework.core.task.SimpleAsyncTaskExecutor"/>
				</property>
			</bean>
		</constructor-arg>
		<constructor-arg name="restTemplate" ref="restTemplate"/>
	</bean>
</beans>